h1, h2, h3, h4, h5, h6, p, ul, li, a, b {
  text-align:center;
  margin:0 auto;
}

h2, h3, h4 {
  margin: 1em;
}

.container {
  margin-top:3em;
}

.float-right {
  text-align:right;
  float:right;
}
